body {
  margin: 0 auto;
  background-color:#f2f4f7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
    height: 120px;
    background: #000;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    box-shadow: 0px 1px 2px 1px #57535366;
}

.page-heading {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: fantasy;
    background: transparent;
    color: #fff;
}

.search-box {
  width: -moz-fit-content;
  /* width: fit-content; */
  margin: 0 auto;
  width: 350px;
  height: 50px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.grid-view-container{
  margin-top:125px;
}

.show-model{
    margin: 10px auto;
    display: block;
    width: 150px;
    height: 30px;
}

/* misc */
.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  height: 250px;
  min-width: 180px;
  max-width: 250px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
}

.MuiGrid-item{
  overflow: hidden;
}